.avatar {
    --avatar-size: 2em;
    border-radius: 50%;
    width: var(--avatar-size);
    height: var(--avatar-size);
    object-fit: cover;
    font-size: var(--avatar-size);
    background-color: var(--light);

    &.sm {
        --avatar-size: 1.25em;
    }

    .letter {
        font-size: 0.85em;
    }
}
