@use 'sass:color';

// font
$font: Poppins, -apple-system, system-ui, "Helvetica Neue", sans-serif;
$fontSize: 16px;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

// colors
$bg: #fff !default;
$body-bg: #fafafe !default;
$main-text-color: #555 !default;
$primary: #3fb15e !default;
$secondary: #f5f5f5 !default;
$danger: #d9214f !default;
$info: #86d3ff !default;
$warning: #ffb359 !default;
$success: #52a621 !default;
$dark: #333 !default;
$light: #f9f9f9 !default;
$muted: #6c757daa;
$disabled-bg: #e5e5e5 !default;
$disabled-text-color: #888 !default;

// radius
$border-radius: 0.5em;

// shadows
$shadow-0: 0 2px 2px 0 color.adjust(#000, $alpha: -0.86), 0 1px 5px 0 color.adjust(#000, $alpha: -0.88) !default;
$shadow-1: 0 2px 5px color.adjust(#000, $alpha: -0.86), 0 1px 5px color.adjust(#000, $alpha: -0.88) !default;
$shadow-raised: 0 2px 4px -1px color.adjust(#000, $alpha: -0.8), 0 3px 5px 0 color.adjust(#000, $alpha: -0.86), 0 1px 10px 0 color.adjust(#000, $alpha: -0.88) !default;

$theme-colors: (
        "primary": $primary,
        "secondary": $secondary,
        "success": $success,
        "warning": $warning,
        "danger": $danger,
        "light": $light,
        "dark": $dark
);
