[x-cloak] {
    display: none;
}

*, ::before, ::after, [type='text'], input:where(:not([type])), [type='email'], [type='url'], [type='password'], [type='number'], [type='date'], [type='datetime-local'], [type='month'], [type='search'], [type='tel'], [type='time'], [type='week'], [multiple], textarea, select {
    border-color: var(--border-color);
}

a {
    color: var(--primary);

    &:hover {
        filter: brightness(80%);
    }

    &.zooms-in {
        transition: transform;

        &:hover {
            transform: scale(1.07);
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 1.6em;
    margin-bottom: 0.8em;
    font-weight: bold;

    &:first-child {
        margin-top: 0;
    }
}

h1 {
    font-size: 1.6em;
}

h2 {
    font-size: 1.4em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

p {
    margin-block: 1.15em;
    max-width: 65ch;
}

.material-design-icon {
    display: inline-flex;
    align-self: center;
    position: relative;
    height: 1em;
    width: 1em;
}

.material-design-icon > .material-design-icon__svg {
    height: 1em;
    width: 1em;
    fill: currentColor;
}

:has(:target) {
    scroll-behavior: smooth;
    scroll-margin-top: 2rem;
}
