[x-cloak] {
    display: none;
}

*, ::before, ::after, [type='text'], input:where(:not([type])), [type='email'], [type='url'], [type='password'], [type='number'], [type='date'], [type='datetime-local'], [type='month'], [type='search'], [type='tel'], [type='time'], [type='week'], [multiple], textarea, select {
    border-color: var(--border-color);
}

a {
    color: var(--primary);
}
